[data-formstyle] {
  position: relative;
  max-width: 100%;
}
[data-formstyle] .onglets {
  margin: 0;
}

[data-formstyle] .onglets div.title {
  display: block;
  border-bottom: 1px solid rgba(184, 188, 193, 0.5);
}

[data-formstyle] .onglets [data-title] [data-tab].symbol,
[data-formstyle] .onglets [data-title] [data-tab].stroke,
[data-formstyle] .onglets [data-title] [data-tab].text {
  display: none;
}
[data-formstyle].point .onglets [data-title] [data-tab].symbol,
[data-formstyle].line .onglets [data-title] [data-tab].stroke,
[data-formstyle].point .onglets [data-title] .text,
[data-formstyle].line .onglets [data-title] [data-tab].text,
[data-formstyle].polygon .onglets [data-title] [data-tab].stroke,
[data-formstyle].polygon .onglets [data-title] [data-tab].text {
  display: inline-block;
}
[data-formstyle][class=""] .onglets > div,
[data-formstyle] .onglets div.lib,
[data-formstyle][class=""] .onglets div.add {
  display: none;
}
[data-formstyle][class=""] .onglets > div.symbolLib,
[data-formstyle][class=""] .onglets div.lib,
[data-formstyle][class=""] .onglets > div.title {
  display: block;
  border-top: none;
}
[data-formstyle][class=""] .onglets [data-title] [data-tab] {
  display: inline-block!important;
  pointer-events: none;
}

[data-formstyle] .mc-input-media {
  left: 0;
  width: 13em;
}

[data-formstyle] .mc-input-media .mc-img {
  width: 3em;
  height: 2.5em;
  position: absolute;
  left: -3.1em;
}

[data-formstyle] .mc-input-media.loading:before {
  left: -1em;
}
[data-formstyle] .mc-input-media input[type="url"] {
  left: 5em;
  width: 10em
}

[data-formstyle] label.input-placeholder input {
  width:20rem;

}
[data-formstyle] label.input-placeholder span {
  display:table;
}

[data-formstyle] select,
[data-formstyle] textarea,
[data-formstyle] input[type="text"],
[data-formstyle] input[type="url"]{
  max-width: 20rem;
}
[data-formstyle] [data-attr="strokeDash"] input {
  width: 7.5em;
}

[data-formstyle] [type="number"]{
  max-width: 5em;
}

[data-formstyle][data-tab="symbol"] [data-type="symbol"],
[data-formstyle][data-tab="text"] [data-type="text"],
[data-formstyle][data-tab="stroke"] [data-type="stroke"],
[data-formstyle][data-tab] [data-type="all"]{
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
}
[data-formstyle] [data-show] [data-type="all"] ul {
  margin-bottom: 2em;
}

[data-formstyle] [data-show] div > h3,
[data-formstyle] [data-show] div.ol-popup,
[data-formstyle] [data-show] select,
[data-formstyle] [data-show] input{
  cursor: pointer;
}

[data-formstyle] [data-attr="textFont"] option {
  font-size: 1.5em;
}
[data-formstyle] [data-show] ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
[data-formstyle] [data-show] > div {
  display: none;
}
[data-formstyle] [data-type="symbol"] > select {
  width: 100%;
  max-width: unset;
  box-sizing: border-box;
  color: #fff;
  background-color: #3993f3;
}
[data-formstyle] [data-type="symbol"] > select option {
  background-color: #fff;
  color: initial;
}

[data-formstyle] .onglets > div li[data-attr] {
  position: relative;
  margin: 0;
  padding: 0.5em;
  width: 100%;
  box-sizing: border-box;
}

[data-formstyle] li > label {
  position: relative;
  width: 8em;
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  padding-right: 1em;
  box-sizing: border-box;
}
[data-formstyle] li[data-attr="pointIcon"] > label {
  padding-right: 3.5em;
}

[data-formstyle] li.check > label {
  width: 13em;
  padding-right: 6em;
}
[data-formstyle] li.check > label span {
  position: absolute;
  top: calc(50% + .1em);
  transform: translate(1em, -50%);
}

[data-formstyle] li > label .mc-help {
  position: relative;
  top: -.5em;
  margin: 0;
}


[data-formstyle] .onglets > div [data-attr="fillColor"],
[data-formstyle] .onglets > div [data-attr="fillPattern"],
[data-formstyle] .onglets > div [data-attr="textAlign"],
[data-formstyle] .onglets > div [data-attr="textBaseline"],
[data-formstyle] .onglets > div [data-attr="textPlacement"],
[data-formstyle] .onglets > div [data-attr="textOverflow"],
[data-formstyle] .onglets > div [data-attr="strokeArrow"] {
  display: none;
}
[data-formstyle] .onglets > div [data-attr="fillColorPattern"]  {
  opacity: .5;
  pointer-events: none;
  display: none;
}
[data-formstyle][data-pattern] .onglets > div [data-attr="fillColorPattern"]  {
  opacity: 1;
  pointer-events: all;
}

[data-formstyle][data-point-type="label"].polygon .onglets [data-title] .text,
[data-formstyle][data-point-type="label"].line .onglets [data-title] .text,
[data-formstyle].line .onglets > div [data-attr="strokeArrow"],
[data-formstyle].polygon .onglets  > div [data-attr="fillColor"],
[data-formstyle].polygon .onglets  > div [data-attr="fillPattern"],
[data-formstyle].polygon .onglets  > div [data-attr="fillColorPattern"],
[data-formstyle].point .onglets > div [data-attr="textAlign"] ,
[data-formstyle].line .onglets > div [data-attr="textAlign"] ,
[data-formstyle].point .onglets > div [data-attr="textBaseline"],
[data-formstyle].line .onglets > div [data-attr="textBaseline"],
[data-formstyle].line .onglets > div [data-attr="textOverflow"],
[data-formstyle].polygon .onglets > div [data-attr="textOverflow"],
[data-formstyle].line .onglets > div [data-attr="textPlacement"] {
  display: inline-block;
}

[data-formstyle] .ol-input-popup.ol-width li > * {
  background-color: currentColor;
}
[data-formstyle] .ol-input-popup.ol-size li> * {
  background-color: currentColor;
}

[data-formstyle] .ol-input-popup.ol-size .ol-popup {
  left: -4em;
}

[data-formstyle][data-point-type="label"] [data-type="symbol"] .symbol,
[data-formstyle][data-point-type="label"] .onglets [data-title] .text,
[data-formstyle][data-point-type="image"] [data-type="symbol"] [data-attr],
[data-formstyle] [data-type="symbol"] [data-attr="pointIcon"],
[data-formstyle] [data-type="symbol"] [data-attr="pointFrame"],
[data-formstyle] [data-type="symbol"] [data-attr="pointCrop"] {
  display: none;
}
[data-formstyle][data-point-type="label"] [data-type="symbol"] .annotation,
[data-formstyle][data-point-type="label"][data-tab="symbol"] [data-type="text"],
[data-formstyle][data-point-type="image"] [data-type="symbol"] [data-attr="pointRadius"],
[data-formstyle][data-point-type="image"] [data-type="symbol"] [data-attr="pointStrokeWidth"],
[data-formstyle][data-point-type="image"] [data-type="symbol"] [data-attr="pointColor"],
[data-formstyle][data-point-type="image"] [data-type="symbol"] [data-attr="pointIcon"],
[data-formstyle][data-point-type="image"] [data-type="symbol"] [data-attr="pointFrame"],
[data-formstyle][data-point-type="image"] [data-type="symbol"] [data-attr="pointCrop"] {
  display: block;
}

[data-formstyle][data-point-type="image"][data-frame="none"] [data-attr="pointColor"],
[data-formstyle][data-point-type="image"][data-frame="none"] [data-attr="pointStrokeWidth"] {
  opacity: .5;
  pointer-events: none;
}

/* Symbol lib */
[data-formstyle] [data-show] .noSymbolLib {
  display: none;
}
[data-formstyle] [data-show] .symbolLib {
  text-align: center;
  border: 1px solid #999;
  border-width: 1px 0;
  padding: 1em 0 .5em;
  margin-top: .5em;
}
[data-formstyle] [data-show] .symbolLib {
  display: block;
}
[data-formstyle][data-tab="text"] .symbolLib .add {
  display: none;
}

[data-formstyle] .symbolLib h3 {
  margin: 0;
}
[data-formstyle] .symbolLib p {
  margin: 0 auto;
  max-width: 90%;
  font-style: italic;
}

[data-formstyle] .symbolLib button {
  min-width: auto;
  line-height: 2.3em;
  margin: .25em;
}
[data-formstyle] .symbolLib button i {
  margin-right: .5em;
}
[data-formstyle].point.line .symbolLib .add,
[data-formstyle].line.polygon .symbolLib .add,
[data-formstyle].point.polygon .symbolLib .add {
  display: none;
}

/* Preview */
[data-formstyle] .preview {
  display: none;
  text-align: center;
  border: 5px solid #3993f3;
  border-width: 5px 0 0;
}

[data-formstyle] .preview.visible {
  display: block;
}
[data-formstyle] .preview > * {
  display: none;
  vertical-align: middle;
  background-color: #E1EEFD;
  border: 3px solid #fff;
}
[data-formstyle].point .preview > .Point,
[data-formstyle].line .preview > .LineString,
[data-formstyle].polygon .preview > .Polygon {
  display: inline-block;
}

[data-formstyle] .preview .img p {
  height: 120px;
  width: 0;
  margin: 0;
  padding: 0;
  display: inline-block;
  vertical-align: middle;
}
[data-formstyle] .preview .img canvas {
  vertical-align: middle;
}

/* Dialog */
.ol-ext-dialog.addSymbolLib input[type="text"] {
  width: 100%;
  display: block;
}
.ol-ext-dialog.addSymbolLib canvas {
  display: block;
  background-color: #E1EEFD;
  padding: .5em;
  margin: .5em auto;
}
.ol-ext-dialog.symbolLib .ol-collection-list {
  width: 28em;
  max-width: 100%;
}

/* Point forms */
[data-formstyle] li[data-attr="pointForm"] i {
  position: absolute;
  pointer-events: none;
  color: #3993f3;
  font-size: 1.5em;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5em;
}
[data-formstyle] li[data-attr="pointForm"] select {
  padding-left: 2em;
}
[data-formstyle] li[data-attr="pointForm"] i.lozenge:before {
  transform: rotate(45deg) scale(.75);
}
[data-formstyle] li[data-attr="pointForm"] i.triangle:before {
  transform: rotate(180deg);
}

/* Display right */
[data-formstyle][data-preview="left"] .onglets {
  margin-left: 114px;
}
[data-formstyle][data-preview="right"] .onglets {
  margin-right: 114px;
}
[data-formstyle][data-preview="left"] .preview,
[data-formstyle][data-preview="right"] .preview {
  position: absolute;
  height: calc(100% - 7rem - .25em + 20px);
  top: calc(7rem + .25em - 20px);
  left: 0;
  width: 110px;
  text-align: center;
  border-width: 0 4px 0 0;
  box-sizing: border-box;
  overflow: hidden;
}
[data-formstyle][data-preview="left"] .preview > div,
[data-formstyle][data-preview="right"] .preview > div {
  width: 100px;
  border-width: 5px 0;
}
[data-formstyle][data-preview="left"] .preview .img p,
[data-formstyle][data-preview="right"] .preview .img p {
  height: 90px;
}
[data-formstyle][data-preview="right"] .preview {
  right: 0;
  left: auto;
  border-width: 0 0 0 4px;
}

/* Dialog editor */
.ol-ext-dialog.symbolLibEditor form {
  width: 38em;
  overflow: visible;
  padding-top: .5em;
}
.ol-ext-dialog.symbolLibEditor .ol-content > select {
  display: block;
  margin: 0 auto 1em;
  width: calc(100% - 3em);
  text-align: center;
  color: #fff;
  background-color: #3993f3;
}
.ol-ext-dialog.symbolLibEditor .ol-content > select option {
  background-color: #fff;
  color: initial;
}
.ol-ext-dialog.symbolLibEditor .ol-content select option {
  text-align: left;
}

.ol-ext-dialog.symbolLibEditor .symbolLib {
  margin-top: 3em;
}
.ol-ext-dialog.symbolLibEditor .point .symbolLib {
  margin-top: 0;
}
.ol-ext-dialog.symbolLibEditor .symbolLib h3,
.ol-ext-dialog.symbolLibEditor .symbolLib div {
  display: none;
}
.ol-ext-dialog.layerStyle .popup-pattern .ol-popup,
.ol-ext-dialog.symbolLibEditor .popup-pattern .ol-popup {
  width: 320px;
}
