.mdDiaporama {
  position: relative;
  overflow: hidden;
}
.mdDiaporama button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 1.8em;
  opacity: .5;
  cursor: pointer;
  width: 2em;
  height: 2em;
  text-align: center;
  color: #fff;
  border-radius: 50%;
}
.mdDiaporama button[data-visible="0"] {
  display: none;
}

.mdDiaporama button:before {
  content: "";
  background-color: rgba(0,0,0,.2);
  border-radius: 50%;
  width: 2em;
  height: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mdDiaporama button:after {
  content: '\e909';
  font-family: font-ign;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.mdDiaporama button.rightButton:after {
  content: '\e907';
}
.mdDiaporama button:hover {
  opacity: 1;
}
.mdDiaporama button.leftButton {
  left: 0;
  height: 100%;
  width: 3em;
}
.mdDiaporama button.rightButton {
  right: 0;
  height: 100%;
  width: 3em;
}

.mdDiaporama button.closeBox,
.mdDiaporama button.fullscreen {
  top: 0;
  right: 0;
  transform: unset;
  font-size: 1.5em;
}
.mdDiaporama button.closeBox[data-fullscreen="no"],
.mdDiaporama button.fullscreen[data-fullscreen="no"] {
  display: none;
}

.mdDiaporama button.fullscreen:before,
.mdDiaporama button.closeBox:before {
  border-radius: 2px;
  width: 1.8em;
  height: 1.8em;
}
.mdDiaporama button.fullscreen:after {
  content: '\e91e';
}
.mdDiaporama button.closeBox {
  display: none;
}
.mdDiaporama button.closeBox:after {
  content: '\e902';
  text-shadow: unset;
}

.mdDiaporama img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
  display: block;
  opacity: 0;
  transition: opacity 0.5s;
}

.mdDiaporama .diapo-title {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: rgba(0,0,0,.5);
  color: #fff;
  line-height: 1.4em;
  text-align: center;
  z-index: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: none;
}
.mdDiaporama .diapo-title:first-of-type {
  display: block;
}
.mdDiaporama .diapo-title[data-visible="0"] {
  display: none;
}
.mdDiaporama .diapo-title[data-visible="1"] {
  display: block;
}
.md-fullscreen-diaporama .diapo-title {
  font-size: 1.5em;
}

.mdDiaporama img:first-child {
  opacity: 1;
  position: unset;
  transform: unset;
  margin: auto;
}
.mdDiaporama img[data-visible="0"] {
  opacity: 0;
}
.mdDiaporama img[data-visible="1"] {
  opacity: 1;
}

.md-fullscreen-diaporama {
  position: fixed;
  inset: 0;
  background-color: rgba(0,0,0,.5);
  display: none;
  z-index: 9999;
  opacity: 0;
  transition: opacity 0.5s;
}
.md-fullscreen-diaporama[data-visible] {
  display: block;
  opacity: 1;
}
.md-fullscreen-diaporama img {
  max-width: calc(100% - 2em);
  max-height: calc(100% - 2em);
}
.md-fullscreen-diaporama img:first-child {
  position: absolute;
  transform: translate(-50%, -50%);
}
.md-fullscreen-diaporama button.fullscreen {
  display: none;
}
.md-fullscreen-diaporama button.closeBox {
  display: block;
  margin: .5em;
  opacity: .7;
}
.md-fullscreen-diaporama button.closeBox:hover {
  opacity: 1;
}