.md .md-image-slider {
  position: relative;
  margin: auto;
  width: fit-content;
  overflow: hidden;
}

.md .md-image-slider img {
  pointer-events: none;
  max-width: 100%;
  max-height: 100vh;
}
.md .md-image-slider img.md-img-2 {
  max-width: unset;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border: 0 solid #000;
  border-width: 1000px 0px;
}

.md .md-image-slider .md-image-slider {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 2px;
  height: 100%;
  background-color: currentColor;
  border: 1px solid rgba(255,255,255,.5);
  z-index: 1;
  transform: translateX(-50%);
  cursor: ew-resize;
  overflow: visible;
}

.md .md-image-slider .md-image-slider:before,
.md .md-image-slider .md-image-slider:after {
  content: "\f0d9";
  font-family: fontawesome;
  font-size: 35px;
  position: absolute;
  top: 50%;
  right: 0;
  padding: 0 10px;
  transform: translateY(-50%) scaleX(.7);
  transform-origin: 100% 0;
  text-shadow: 1px 0 2px #fff, -1px 0 2px #fff;
}
.md .md-image-slider .md-image-slider:after {
  content: "\f0da";
  right: auto;
  left: 0;
  transform-origin: 0 0;
}

.md .md-image-slider .md-image-fullscreen {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 20px;
  margin: .5em;
  background-color: rgba(0,0,0,.4);
  border: 0;
  border-radius: 2px;
  opacity: .5;
  cursor: pointer;
}
.md .md-image-slider .md-image-fullscreen:hover {
  opacity: 1;
}
.md .md-image-slider .md-image-fullscreen:before,
.md .md-image-slider .md-image-fullscreen:after {
  content: '';
  position: absolute;
  width: 7px;
  height: 7px;
  border: 2px solid #fff;
}
.md .md-image-slider .md-image-fullscreen:before {
  border-width: 2px 2px 0 0;
  top: 3px;
  right: 3px;
}
.md .md-image-slider .md-image-fullscreen:after {
  border-width: 0 0 2px 2px;
  left: 3px;
  bottom: 3px;
}

.md-fullscreen-image-slider {
  position: fixed;
  background-color: rgba(0,0,0,.5);
  top: 0;
  left: 0;
  bottom: 0;
  right: -50%;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  display: none;
  transition: .5s;
}

.md-fullscreen-image-slider[data-visible] {
  display: block;
  opacity: 1;
  pointer-events: all;
}

.md-fullscreen-image-slider > div {
  position: absolute;
  top: 50%;
  left: 33.33%;
  transform: translate(-50%, -50%);
  padding: 1em;
}
.md-fullscreen-image-slider > button {
  position: absolute;
  top: 0;
  right: 33.333%;
  padding: 1em;
  background-color: transparent;
  border: 0;
}
.md-fullscreen-image-slider > button:before {
  content: "\e902";
  font-family: font-ign;
  color: #fff;
  font-size: 1.5em;
  cursor: pointer;
}
