.md ul.mdLayerSwitcher {
  padding: 0;
  list-style: none;
  margin: 0.25em auto;
}

.md ul.mdLayerSwitcher.left {
  text-align: left;
  float: left;
}
.md ul.mdLayerSwitcher.right {
  text-align: left;
  float: right;
}
.md ul.mdLayerSwitcher.center{
  width: fit-content;
  text-align: left;
}

.mdLayerSwitcher .mdLayerLogo {
  width: 3em;
  height: 2em;
  vertical-align: middle;
  display: inline-block;
  overflow: hidden;
  margin: 3px 0.5em 3px 0;
}

.mdLayerSwitcher.mdSwitcherButton span {
  display: none;
}

.mdLayerSwitcher.mdSwitcherButton {
  margin: auto;
  text-align: center;
  line-height: 1em;
}
.mdLayerSwitcher.mdSwitcherButton li label {
  padding: 0.5em;
  cursor: pointer;
  box-sizing: border-box;
  max-width: 100%;
}
.mdLayerSwitcher.mdSwitcherButton li {
  border: 1px solid currentColor;
  display: inline-block;
  box-sizing: border-box;
  text-align: center;
  opacity: 0.6;
  border-radius: 0.25em;
  margin: 0.25em;
  overflow: hidden;
}

.mdLayerSwitcher.mdSwitcherButton li:hover {
  box-shadow: 0 0 3px currentColor;
}
.mdLayerSwitcher.mdSwitcherButton li:has(input:checked) {
  opacity: 1;
  box-shadow: 0 0 3px currentColor;
}
.mdLayerSwitcher.mdSwitcherButton li:has(input:focus-visible) {
  box-shadow: inset 0 0 3px currentColor, 0 0 3px currentColor;
}

.mdLayerSwitcher.mdSwitcherButton .mdLayerLogo {
  display: block;
  margin: auto;
  height: 80px;
  width: 80px;
  max-width: 100%;
}
