[data-role="carousel"] {
  position: relative;
}
[data-role="carousel"] fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  float: right;
  height: 0;  
  position: relative;
  top: -5rem;
  margin-right: .5em;
  font-size: 2.6rem;
  z-index: 1;
}
[data-role="carousel"] fieldset button {
  background: transparent;
  border: 0;
  font-size: 1.2em;
  cursor: pointer;
  width: 5rem;
  height: 5rem;
}
[data-role="carousel"] fieldset button.previous:before {
  content: "\ea5b";
  font-family: font-ign;
}
[data-role="carousel"] fieldset button.next:before {
  content: "\ea5c";
  font-family: font-ign;
}

[data-role="carousel"] > div {
  width: 100%;
  max-width: 100%;
  overflow-x: hidden;
  position: relative;
  margin: auto;
  padding: 0;
}
[data-role="carousel"] .carousel-list > ul {
  white-space: nowrap;
  transform: translateX(-000%);
  transition: .5s;
  padding: 0;
  margin: 0;
}
[data-role="carousel"] .carousel-list > ul > li {
  display: inline-block;
  box-sizing: border-box;
  padding: 0 1em;
  vertical-align: middle;
  width: 100%;
  white-space: normal;
}
