[data-role="map"] {
  background-color: #ccc;
}
pre {
  border: 1px solid #999;
  padding: .5em 1em;
  margin: 0;
  user-select: text;
  overflow: hidden;
}

input[type="number"] {
  width: 4em;
  text-align: right;
}

[data-role="content"] h2 {
  margin-top: 1em;
}

[data-role="tabs"] > [data-tab] {
  padding: .5em;
}


[data-role="carousel"] article {
  position: relative;
  background-color: #f4f6f8;
  padding: 2rem;
  display: block;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
  margin-bottom: 1em;
}

[data-role="carousel"] img {
  max-width: 200px;
  float: left;
  margin-right: 1em;
}