.author-list .autocomplete {
  position: absolute;
  background-color: #fff;
  box-shadow: 1px 1px 3px #000;
  width: 20em;
  z-index: 1;
}
.author-list i.loading {
  display: none;
  position: relative;
  color: #3993f3;
  background-color: currentColor;
  left: 0;
  top: -2px;
  height: 1px;
  box-shadow: 0 -1px currentColor;
  animation: user-waiting 1s infinite;
}
@keyframes user-waiting {
  0% {
    left: 0;
    width: 0;
  }
  25% {
    left: 0;
    width: 50%;
  }
  100% {
    left: 100%;
    width: 0;
  }
}
.author-list[data-loading] i.loading {
  display: block;
}
.author-list input.author {
  margin-bottom: 0!important;
}
.author-list ul {
  margin: 0;
  padding: 0;
  cursor: default;
}
.author-list ul li {
  position: relative;
  padding: 0.5em 1em;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.author-list ul li.full {
  line-height: 1.5em;
  padding-left: 4.5em;
}
.author-list li:hover {
  background-color: #eee;
}
.author-list ul img {
  position: absolute;
  left: 2em;
  top: 50%;
  max-width: 3em;
  max-height: 2.5em;
  transform: translate(-50%, -50%);
}
